@{
    ViewBag.Title = "Classics Sets";
    string globalPostfix = (string)System.Web.HttpContext.Current.Session["Postfix"];

}

<div class="row">
    <div class="col-md-3">
        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color: #ebebeb; font-size:40px;color: #000000; margin-right:0.2em">storage</i> Classics Sets</h2>
    </div>
</div>

<hr />

<div class="row">
    <div class="alert alert-success" role="alert">
        <p><strong>Hi dear User!</strong> If the element you want to add is already in the set, it won't be added again.</p>
        <p>Besides if you want to add multiple elements use the character comma (,) to separate each of them.</p>
    </div>

    <div class="col-md-5 align-self-center">
        @using (Html.BeginForm("evaluateLogicExpression", "ClassicsSets", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label for="logicExpression" class="sr-only">Write your logic expression: </label>
                <input type="text" style="width: 800px" class="form-control" name="logicExpression" id="logicExpression" placeholder="Write a logic expression">
            </div>
            <button type="submit" class="btn btn-primary">Evaluate</button>
        }
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h1>@globalPostfix</h1>
    </div>
</div>

