
@{
    ViewBag.Title = "Sequences";
    ComplexApp.Models.Sequences globalSequence = (ComplexApp.Models.Sequences)System.Web.HttpContext.Current.Session["Sequences"];
    ComplexApp.Models.Sequences globalSequenceReverse = (ComplexApp.Models.Sequences)System.Web.HttpContext.Current.Session["SequencesReverse"];
}

<div class="row">
    <div class="col-md-12">
        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color: #ebebeb; font-size:40px; color: #000000; margin-right:0.2em">storage</i> Sequences</h2>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-8">
        <div class="alert alert-success" role="alert">
            <p><strong>Hi dear User!</strong> If you want add a new number to sequence. You must have present the next information:</p>
            <p>You can add values through exponent and square root expressions.</p>
            <ul>
                <li>
                    <p><strong>x^y : x</strong> is a base and <strong>y</strong> is an exponent. Both it's real numbers. </p>
                </li>

                <li>
                    <p><strong>sqrt(x) : </strong> is the expression to calculate square root, <strong>x</strong> is radicand. Only allows positive values.</p>
                </li>
            </ul>
        </div>
    </div>
        <div class="col-md-12 align-self-center">
            @using (Html.BeginForm("addNewElementToSequence", "Sequences", FormMethod.Post, new { @class = "form-inline" }))
            {
                <div class="form-group">
                    <label for="newElement" class="sr-only">Add a real number</label>
                    <input type="text" class="form-control" name="newElement" id="newElement" placeholder="Add a real number">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            }
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">

                @foreach (var item in globalSequence.Elements)
                {
                    <li class="list-group-item">
                        <h4>@Html.DisplayFor(modelItem => item) <input type="button" class="btn btn-danger btn-xs" style="float:right" value="Remove" onclick="location.href='@Url.Action("removeElement", "Sequences", new {index = Array.IndexOf(globalSequence.Elements.ToArray() , item)})'" </h4>

                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">

                @foreach (var item in globalSequenceReverse.ElementsReverse)
                {
                    <li class="list-group-item">
                        <h4>@Html.DisplayFor(modelItem => item)</h4>
                    </li>
                }
            </ul>
        </div>
    </div>

