@{
    ViewBag.Title = "Home";
}

<div class="row">
    <hr />
    <div class="col-md-4">

        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color:#ebebeb; font-size:40px;color: #000000; margin-right:0.2em">storage</i> Sets</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>