@{
    ViewBag.Title = "Home";
}

<div class="row">
    <hr />
    <div class="col-md-4">

        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color:#ebebeb; font-size:40px;color: #000000; margin-right:0.2em">storage</i> Classic Sets</h2>
        <p style="font-size: 13pt;">
            Evaluate your logics expressions and get the truth tables. Please use this amazing application to we can to win fuzzy logic. ♥
        </p>
        <p><a class="btn btn-default" href="@Url.Action("ClassicsSets", "ClassicsSets")">Do it &raquo;</a></p>
    </div>
</div>